WCH-ADF-DEV/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "WCH-ADF-DEV"
		},
		"LS_KV_BLOB_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KV-DEVBLOB.vault.azure.net/"
		},
		"LS_KV_BLOB_SAS_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KV-DEV-BLOB-SAS.vault.azure.net/"
		},
		"LS_KV_DB_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KV-DEV-DB.vault.azure.net/"
		},
		"LS_KV_WCH_DEV_DB_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://KV-WCH-DEV-DB.vault.azure.net/"
		},
		"Cencus_Blob_Input_Ls_properties_typeProperties_sasUri_secretName": {
			"type": "string",
			"defaultValue": "KV-BLOB-SAS-SECRET"
		},
		"Cencus_Output_Ls_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "SEC-DEV-DB"
		},
		"LS_BLOB_SAS_properties_typeProperties_sasUri_secretName": {
			"type": "string",
			"defaultValue": "KV-BLOB-SAS-SECRET"
		},
		"LS_WCH_DEV_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "KV-WCH-DEV-SECREATE"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_KV_BLOB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KV_BLOB_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KV_BLOB_SAS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KV_BLOB_SAS_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KV_DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KV_DB_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KV_WCH_DEV_DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KV_WCH_DEV_DB_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cencus_Blob_Input_Ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV_BLOB_SAS",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('Cencus_Blob_Input_Ls_properties_typeProperties_sasUri_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KV_BLOB_SAS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cencus_Output_Ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV_DB",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('Cencus_Output_Ls_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KV_DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BLOB_SAS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV_BLOB_SAS",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_BLOB_SAS_properties_typeProperties_sasUri_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KV_BLOB_SAS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_WCH_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KV_WCH_DEV_DB",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_WCH_DEV_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KV_WCH_DEV_DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Zipcode')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Merge_ZipCode_Table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_USPS_ZIpcode]"
						},
						"linkedServiceName": {
							"referenceName": "LS_WCH_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "State_Name Update",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Merge_ZipCode_Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_ZipCode_statename_update_fromRef_tbl]"
						},
						"linkedServiceName": {
							"referenceName": "LS_WCH_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Success Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "State_Name Update",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": {
										"value": "Success",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": null,
									"type": "Int32"
								},
								"RowRead": {
									"value": null,
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": null,
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_WCH_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "State_Name Update",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('State_Name Update').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_WCH_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21001_IP_Congrs_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Files/Congressional_District/B21001",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Cencus_Blob_Input_Ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21001_IP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "Files/B21001/Year/2019",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Cencus_Blob_Input_Ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21001_Metadata_IP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Metadata_B21001.csv",
						"folderPath": "Metadata_CencusData",
						"container": "cencusdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Cencus_Blob_Input_Ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21001_Metadata_OP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "M_B21001"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_WCH_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21001_OP_Congras_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "AL_B21001"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_WCH_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21001_OP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "AL_B21001"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_WCH_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21100_Congdist_IP_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Files/Congressional_District/B21100",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "B21100_001E",
						"type": "String"
					},
					{
						"name": "B21100_001M",
						"type": "String"
					},
					{
						"name": "B21100_002E",
						"type": "String"
					},
					{
						"name": "B21100_002M",
						"type": "String"
					},
					{
						"name": "B21100_003E",
						"type": "String"
					},
					{
						"name": "B21100_003M",
						"type": "String"
					},
					{
						"name": "B21100_004E",
						"type": "String"
					},
					{
						"name": "B21100_004M",
						"type": "String"
					},
					{
						"name": "B21100_005E",
						"type": "String"
					},
					{
						"name": "B21100_005M",
						"type": "String"
					},
					{
						"name": "B21100_006E",
						"type": "String"
					},
					{
						"name": "B21100_006M",
						"type": "String"
					},
					{
						"name": "B21100_007E",
						"type": "String"
					},
					{
						"name": "B21100_007M",
						"type": "String"
					},
					{
						"name": "B21100_008E",
						"type": "String"
					},
					{
						"name": "B21100_008M",
						"type": "String"
					},
					{
						"name": "B21100_009E",
						"type": "String"
					},
					{
						"name": "B21100_009M",
						"type": "String"
					},
					{
						"name": "GEO_ID",
						"type": "String"
					},
					{
						"name": "NAME",
						"type": "String"
					},
					{
						"name": "Cong_Dist_Name",
						"type": "String"
					},
					{
						"name": "State_Name",
						"type": "String"
					},
					{
						"name": "FileSourceName",
						"type": "String"
					},
					{
						"name": "B21100_Year",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Cencus_Blob_Input_Ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21100_Congdist_OP_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "GEO_ID",
						"type": "nvarchar"
					},
					{
						"name": "NAME",
						"type": "nvarchar"
					},
					{
						"name": "TV_WOSCD",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TV_WSCD",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TV_PER_SCD10",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TV_PER_SCD10TO20",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TV_PER_SCD30or40",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TV_PER_SCD50or60",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TV_PER_SCD70P",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TV_SCDNOT",
						"type": "int",
						"precision": 10
					},
					{
						"name": "State_Code",
						"type": "nvarchar"
					},
					{
						"name": "County_Code",
						"type": "nvarchar"
					},
					{
						"name": "Tract_Code",
						"type": "nvarchar"
					},
					{
						"name": "B21100_Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "State_Name",
						"type": "nvarchar"
					},
					{
						"name": "County_Name",
						"type": "nvarchar"
					},
					{
						"name": "Tract_Name",
						"type": "nvarchar"
					},
					{
						"name": "FileSourceName ",
						"type": "nvarchar"
					},
					{
						"name": "Cong_Dist_Name",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "AL_B21100"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_WCH_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21100_IP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "Files/B21100/Year/2019",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Cencus_Blob_Input_Ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21100_Metadata_IP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Metadata_B21100.csv",
						"folderPath": "Metadata_CencusData",
						"container": "cencusdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Cencus_Blob_Input_Ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21100_Metadata_OP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "M_B21100"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_WCH_DEV')]"
			]
		}
	]
}