WCH-ADF-DEV/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "WCH-ADF-DEV"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Metadata_GDX')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOAD_METADATA_GDX",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Required Column Names(RAW)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RAWDataColumnName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Meta Data",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EstimateRawColumnName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Nate Provided Names (Copy from the provided sheet ) ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "User Friendly Column Names(Data)- PROCESSED",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UserFriendlyColumnNamesData_PROCESSED",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "User Friendly Column Names(Report)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UserFriendlyColumnNames_Report",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Metadata_GDX_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Metadata_GDX_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Log Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LOAD_METADATA_GDX",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "Usp_audit_Log",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('LOAD_METADATA_GDX').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('LOAD_METADATA_GDX').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('LOAD_METADATA_GDX').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_WCH_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Send Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "LOAD_METADATA_GDX",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DatafactoryName\":\"@{pipeline().DataFactory}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"PipelineRunid\":\"@{pipeline().RunId}\",\n\"ErrorMessage\":\"@{activity('LOAD_METADATA_GDX').Error.Message}\",\n\"Time\":\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-03T07:08:22Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Metadata_Urban_Rural')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_Metadata_Urban_Rural",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Required Column Names(RAW)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RAWDataColumnName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Meta Data",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EstimateRawColumnName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Nate Provided Names (Copy from the provided sheet ) ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "User Friendly Column Names(Data)- PROCESSED",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UserFriendlyColumnNamesData_PROCESSED",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "User Friendly Column Names(Report)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UserFriendlyColumnNames_Report",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Metadata_URBAN_RURAL_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Metadata_URBAN_RURAL_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Success log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_Metadata_Urban_Rural",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('Load_Metadata_Urban_Rural').output.rowscopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('Load_Metadata_Urban_Rural').output.rowsread",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('Load_Metadata_Urban_Rural').output.throughput",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Send email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Load_Metadata_Urban_Rural",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DatafactoryName\":\"@{pipeline().DataFactory}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"PipelineRunid\":\"@{pipeline().RunId}\",\n\"ErrorMessage\":\"@{activity('Load_Metadata_Urban_Rural').outputError.Message}\",\n\"Time\":\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-03T07:07:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S2101')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "S2101_Dataload",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@adddays(utcnow(),-2)",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"wildcardFolderPath": "Files/S2101/Year/2019",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "S2101_C01_001E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CPO18_All",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C01_007E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CPO18_Male",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C01_008E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CPO18_Female",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_001E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_O18",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_002E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_GWII_POS_O18",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_003E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_POS_GWI",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_004E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_POS_VE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_005E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_POS_KE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_006E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_POS_WWII",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_007E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_SEX_MALE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_008E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_SEX_FEMALE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_009E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_AGE_18TO34",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_010E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_AGE_35TO54",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_011E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_AGE_55TO64",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_012E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_AGE_65TO74",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_013E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_AGE_O75",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_014E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_WHITEALONE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_015E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_BA",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_016E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_AIAN",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_017E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_ASIAN",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_018E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_NHOPI",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_019E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_SOR",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_020E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_TWO_OR_MORE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_021E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_HL",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_022E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_WHITEA_NOT_HORL",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C04_001E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PERCENT_VETERANS_OF_TOTALPOP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "S2101_C04_007E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PERCENT_VETERANS_OF_SEX_MALE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "S2101_C04_008E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PERCENT_VETERANS_OF_SEX_FEMALE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Code",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County_Code",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "Tract",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tract_Code",
											"precision": 10
										}
									},
									{
										"source": {
											"name": "S2101_Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "S2101_Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "State Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Name"
										}
									},
									{
										"source": {
											"name": "County Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County_Name"
										}
									},
									{
										"source": {
											"name": "Tract Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tract_Name"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "S2101_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "S2101_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Success Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "S2101_Dataload",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('S2101_Dataload').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('S2101_Dataload').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('S2101_Dataload').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_WCH_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "S2101_Dataload",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('S2101_Dataload').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-06T09:24:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/URBAN_RURAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "URBAN_RURAL_DATA_LOAD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "STATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Code",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "COUNTY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County_Code",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "STATENAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTYNAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "POPPCT_URBAN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PER_UW",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "POPPCT_RURAL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PER_RW",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "URBAN_RURAL_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "URBAN_RURAL_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Success Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "URBAN_RURAL_DATA_LOAD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('URBAN_RURAL_DATA_LOAD').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('URBAN_RURAL_DATA_LOAD').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('URBAN_RURAL_DATA_LOAD').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "URBAN_RURAL_DATA_LOAD",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('URBAN_RURAL_DATA_LOAD').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-03T07:07:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_B21100_ZipCode')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "USCB_B21100_ZipCode",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "B21100_002E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_WOSCD",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_003E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_WSCD",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_004E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_PER_SCD10",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_005E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_PER_SCD10TO20",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_006E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_PER_SCD30or40",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_007E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_PER_SCD50or60",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_008E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_PER_SCD70P",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_009E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_SCDNOT",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Code",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "zip code tabulation area",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Zipcode_Tabulation_Area",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "B21100_Year",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USCB_B21100_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "USCB_B21100_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Log Sucesses",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "USCB_B21100_ZipCode",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('USCB_B21100_ZipCode').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('USCB_B21100_ZipCode').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('USCB_B21100_ZipCode').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mail send",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "USCB_B21100_ZipCode",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('USCB_B21100_ZipCode').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_Metadata_B21001')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_Metadata_B21001",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RAW Data ColumnName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RAWDataColumnName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Estimate RAW ColumnName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EstimateRAWColumnName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Display Name ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "User Friendly ColumnNames Data_PROCESSED",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UserFriendlyColumnNamesData_PROCESSED",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "User Friendly ColumnNames_Report",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UserFriendlyColumnNames_Report",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "B21001_Metadata_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "B21001_Metadata_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SendEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Load_Metadata_B21001",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('Load_Metadata_B21001').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Sucesses Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_Metadata_B21001",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('Load_Metadata_B21001').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('Load_Metadata_B21001').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('Load_Metadata_B21001').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-10T07:59:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_Metadata_B21100')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "B21100_Medataload",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RAW Data ColumnName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RAWDataColumnName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Estimate RAW ColumnName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EstimateRawColumnName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Display Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "User Friendly Column NamesData_PROCESSED",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UserFriendlyColumnNamesData_PROCESSED",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "User Friendly Column Names_Report",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UserFriendlyColumnNames_Report",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "B21100_Metadata_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "B21100_Metadata_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Sucesses Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "B21100_Medataload",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('B21100_Medataload').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('B21100_Medataload').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('B21100_Medataload').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "B21100_Medataload",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('B21100_Medataload').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-10T07:56:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_Metadata_S2101')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "S2101_Medataload",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RAW Data ColumnName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RAWDataColumnName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Estimate RAW ColumnName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EstimateRawColumnName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Display Name ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DisplayName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "User Friendly ColumnNames Data_PROCESSED",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UserFriendlyColumnNamesData_PROCESSED",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "User Friendly ColumnNames_Report",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UserFriendlyColumnNames_Report",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "S2101_Metadata_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "S2101_Metadata_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Sucesses Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "S2101_Medataload",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('S2101_Medataload').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('S2101_Medataload').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('S2101_Medataload').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "S2101_Medataload",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('S2101_Medataload').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-11-10T08:04:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_S1201_MARITAL_STATUS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Sucesses Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_S1201_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('Load_S1201_data').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('Load_S1201_data').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('Load_S1201_data').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_WCH_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Load_S1201_data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('Load_S1201_data').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Load_S1201_data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@adddays(utcnow(),-1)",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"wildcardFolderPath": "Files/USCB_S1201-MARTIAL STATUS",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Info",
									"enableReliableLogging": true
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "Cencus_Blob_Input_Ls",
										"type": "LinkedServiceReference"
									},
									"path": "cencus"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "S1201_C02_002E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TMV_PER_MAR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "S1201_C02_009E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TFV_PER_MAR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "State Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Code",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "State Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "County Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County_Code",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "County Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Tract Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tract_Code",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Tract Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tract_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "File Source Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FileSourceName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USCB_S1201_MARTIAL_STATUS_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "USCB_S1201_MARTIAL_STATUS_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"Sheetnames": {
						"type": "Array",
						"defaultValue": [
							"s1201_4C_state",
							"s1201_4C_county",
							"s1201_4C_Tract"
						]
					}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_S2101_ZipCode')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "USCB_S2101_ZipCode",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "S2101_C01_001E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CPO18_All",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C01_007E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CPO18_MALE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C01_008E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CPO18_FEMALE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_001E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_O18",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_002E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_GWII_POS_O18",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_003E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_POS_GWI",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_004E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_POS_VE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_005E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_POS_KE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_006E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_POS_WWII",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_007E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_SEX_MALE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_008E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_SEX_FEMALE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_009E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_AGE_18TO34",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_010E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_AGE_35TO54",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_011E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_AGE_55TO64",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_012E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_AGE_65TO74",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_013E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_AGE_O75",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_014E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_WHITEALONE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_015E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_BA",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_016E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_AIAN",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_017E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_ASIAN",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_018E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_NHOPI",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_019E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_SOR",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_020E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_TWO_OR_MORE",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_021E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_HL",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_022E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_RACE_HL_WHITEA_NOT_HORL",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C04_001E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PERCENT_VETERANS_OF_TOTALPOP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "S2101_C04_007E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PERCENT_VETERANS_OF_SEX_MALE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "S2101_C04_008E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PERCENT_VETERANS_OF_SEX_FEMALE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "zip code tabulation area",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Zipcode_Tabulation_Area"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "S2101_Year",
											"precision": 10
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USCB_S2101_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "USCB_S2101_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Log Sucesses",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "USCB_S2101_ZipCode",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('USCB_S2101_ZipCode').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('USCB_S2101_ZipCode').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('USCB_S2101_ZipCode').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mail send",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "USCB_S2101_ZipCode",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('USCB_S2101_ZipCode').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}\n",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_State_Ref')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "State_Ref_Dataload",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country_Name",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State Code(FIPS CODE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Code",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Name",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State ABBR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Abbr",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USCB_State_Ref_Input",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "USCB_State_Ref_Output",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Sucesses Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "State_Ref_Dataload",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('State_Ref_Dataload').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('State_Ref_Dataload').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('State_Ref_Dataload').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "State_Ref_Dataload",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('State_Ref_Dataload').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-06T09:28:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USPS_ZIPCODE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "USPS_ZIPCODE_LOAD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Info",
									"enableReliableLogging": true
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "Cencus_Blob_Input_Ls",
										"type": "LinkedServiceReference"
									},
									"path": "cencus"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Zip",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Zip_Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Decommissioned",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Zip_Decommissioned",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Primary_City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Primary_City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Abbr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Timezone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Timezone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Area_Codes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Area_Codes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country_Abbr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Approximate_Latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Approximate_Latitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Approximate_Longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Approximate_Longitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Polygon_Offset_Latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Polygon_Offset_Latitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Polygon_Offset_Longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Polygon_Offset_Longitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Internal_Point_Latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Internal_Point_Latitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Internal_Point_Longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Internal_Point_Longitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Latitude_Min",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Latitude_Min",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Latitude_Max",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Latitude_Max",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Longitude_Min",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Longitude_Min",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Longitude_Max",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Longitude_Max",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USPS_ZIPCODE_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "USPS_ZIPCODE_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Sucesses Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "USPS_ZIPCODE_LOAD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('USPS_ZIPCODE_LOAD').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('USPS_ZIPCODE_LOAD').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('USPS_ZIPCODE_LOAD').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_WCH_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "USPS_ZIPCODE_LOAD",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('USPS_ZIPCODE_LOAD').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-03T11:29:29Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Urgent_Care_Facility')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Urgent_Care_Facility_Load",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@adddays(utcnow(),-1)",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"wildcardFolderPath": "Files/Urgent_Care_Facility/Year",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table Urgent_Care_Facilities\n",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "X",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "X",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Y",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Y",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "FID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OBJECTID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TELEPHONE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TELEPHONE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ADDRESS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ADDRESS2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Abbr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZIP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ZIP_Code",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "COUNTY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FIPS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FIPS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAICSCODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAICS_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAICSDESCR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAICS_DESCR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GEOLINKID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GEOLINKID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Urgent_Care_Fac_IP_Ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Urgent_Care_Fac_OP_Ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Sucesses Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Urgent_Care_Facility_Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "Usp_audit_Log",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('Urgent_Care_Facility_Load').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('Urgent_Care_Facility_Load').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('Urgent_Care_Facility_Load').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_WCH_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Urgent_Care_Facility_Load",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('Urgent_Care_Facility_Load').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-03T05:06:20Z"
			},
			"dependsOn": []
		}
	]
}