pipeline/B21001_Test.json
{
	"name": "B21001_Test",
	"properties": {
		"activities": [
			{
				"name": "load_B21001",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@adddays(utcnow(),-1)",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"wildcardFolderPath": "Files/B21001/Year/2019",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "GEO_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "GEO_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B21001_008E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TMV_018_AGE_18TO34",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "B21001_011E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TMV_018_AGE_35TO54",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "B21001_014E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TMV_018_AGE_55TO64",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "B21001_017E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TMV_018_AGE_65TO74",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "B21001_020E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TMV_018_AGE_75P",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "B21001_026E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TFV_018_AGE_18TO34",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "B21001_029E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TFV_018_AGE_35TO54",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "B21001_032E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TFV_018_AGE_55TO64",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "B21001_035E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TFV_018_AGE_65TO74",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "B21001_038E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TFV_018_AGE_75P",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "State",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State_Code",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "County",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "County_Code",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Tract",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Tract_Code",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "B21001_Year",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "B21001_IP_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "B21001_OP_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log Sucesses",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "load_B21001",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_audit_Log]",
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errors": {
							"value": null,
							"type": "String"
						},
						"ExecDate": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowCopied": {
							"value": {
								"value": "@activity('load_B21001').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowRead": {
							"value": {
								"value": "@activity('load_B21001').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Target": {
							"value": null,
							"type": "String"
						},
						"throughPut": {
							"value": {
								"value": "@activity('load_B21001').output.throughPut",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "load_B21001",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('load_B21001').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "USCB"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-03T08:20:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}