pipeline/CHR_Test.json
{
	"name": "CHR_Test",
	"properties": {
		"activities": [
			{
				"name": "CHR_Dataload",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@adddays(utcnow(),-1)",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"wildcardFolderPath": "Files/CHR/Year/2019",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "State FIPS Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State_Code",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "County FIPS Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "County_Code",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "5-digit FIPS Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "5-digitFIPSCode",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "State Abbreviation",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State_Abbr",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "County_Name",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Release Year",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ReleaseYear",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "County Ranked (Yes=1/No=0)",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CountyRanked(Yes=1/No=0)",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Primary care physicians numerator",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PCP",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Dentists numerator",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DCP",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Mental health providers numerator",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MHP",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CHR_IP_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CHR_OP_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log Sucesses",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CHR_Dataload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_audit_Log]",
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errors": {
							"value": null,
							"type": "String"
						},
						"ExecDate": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowCopied": {
							"value": {
								"value": "@activity('CHR_Dataload').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowRead": {
							"value": {
								"value": "@activity('CHR_Dataload').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Target": {
							"value": null,
							"type": "String"
						},
						"throughPut": {
							"value": {
								"value": "@activity('CHR_Dataload').output.throughPut",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Mail send",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CHR_Dataload",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-10.northcentralus.logic.azure.com:443/workflows/9579b5105bb2494eb35fc128d2eb6517/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=w0h60ol0DAeR2lDkwKPJUr5VFL6EGd-CTb0Nfj3oHgs",
					"method": "POST",
					"body": {
						"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('CHR_Dataload').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "USCB"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-06T09:26:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}