pipeline/DMDC.json
{
	"name": "DMDC",
	"properties": {
		"activities": [
			{
				"name": "DMDC_Dataload",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "HHS Regions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "HHS Regions",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AHA Regions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AHA Regions",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRICARE Regions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TRICARE Regions",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VIZIENT Regions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "VIZIENT Regions",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "USCB",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "USCB",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CCN Regions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CCN Regions",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Sort",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Sort",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Abbrv",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State Abbrv",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "State",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": " AD-Army ",
									"type": "String"
								},
								"sink": {
									"name": "AD-Army",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": " AD-Navy ",
									"type": "String"
								},
								"sink": {
									"name": "AD-Navy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": " AD-Marine Corps ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AD-Marine Corps",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": " AD-Air Force ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AD-Air Force",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": " AD-Coast Guard ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AD-Coast Guard",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": " AD-Space Force ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AD-Space Force",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": " Active Duty - TOTAL ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Active Duty - TOTAL",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Army NG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Army NG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Army Res",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Army Res",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Navy Res",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Navy Res",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "USMC Res",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "USMC Res",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Air Force NG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Air Force NG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Air Force Res",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Air Force Res",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Coast Guard Res",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Coast Guard Res",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Space Force Res",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Space Force Res",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "National Guard - TOTAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "National Guard - TOTAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": " Reserves - TOTAL ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Reserves - TOTAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Natl Guard & Reserves - TOTAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Natl Guard & Reserves - TOTAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TOTAL Force",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TOTAL Force",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DMDC_IP_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DMDC_OP_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log Sucesses",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DMDC_Dataload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_audit_Log]",
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errors": {
							"value": null,
							"type": "String"
						},
						"ExecDate": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowCopied": {
							"value": {
								"value": "@activity('DMDC_Dataload').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowRead": {
							"value": {
								"value": "@activity('DMDC_Dataload').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Target": {
							"value": null,
							"type": "String"
						},
						"throughPut": {
							"value": {
								"value": "@activity('DMDC_Dataload').output.throughPut",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Cencus_Output_Ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Mail send",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "DMDC_Dataload",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('DMDC_Dataload').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "USCB"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-06T09:26:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}