pipeline/GDX.json
{
	"name": "GDX",
	"properties": {
		"activities": [
			{
				"name": "LOAD_GDX_DATA",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@adddays(utcnow(),-1)",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"wildcardFolderPath": "Files/GDX/Year/2019",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": true
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "Cencus_Blob_Input_Ls",
								"type": "LinkedServiceReference"
							},
							"path": "cencus"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "State Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State_Name",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "County Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "County_Name",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Veteran Population*",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TV_VHA_GDX_RPT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Unique Patients**",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TV_USING_VHA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "GDX_IP_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "GDX_OP_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Send email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "LOAD_GDX_DATA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
					"method": "POST",
					"body": {
						"value": "{\n\"DatafactoryName\":\"@{pipeline().DataFactory}\",\n\"PipelineName\":\"@{pipeline().Pipeline}\",\n\"PipelineRunid\":\"@{pipeline().RunId}\",\n\"ErrorMessage\":\"@{activity('LOAD_GDX_DATA').Error.Message}\",\n\"Time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LOAD_GDX_DATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_audit_Log]",
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errors": {
							"value": null,
							"type": "String"
						},
						"ExecDate": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowCopied": {
							"value": {
								"value": "@activity('LOAD_GDX_DATA').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowRead": {
							"value": {
								"value": "@activity('LOAD_GDX_DATA').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Target": {
							"value": null,
							"type": "String"
						},
						"throughPut": {
							"value": {
								"value": "@activity('LOAD_GDX_DATA').output.throughPut",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "USCB"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-03T07:09:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}