pipeline/USCB_S1201_MARITAL_STATUS.json
{
	"name": "USCB_S1201_MARITAL_STATUS",
	"properties": {
		"activities": [
			{
				"name": "Sucesses Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_S1201_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_audit_Log]",
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errors": {
							"value": null,
							"type": "String"
						},
						"ExecDate": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowCopied": {
							"value": {
								"value": "@activity('Load_S1201_data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowRead": {
							"value": {
								"value": "@activity('Load_S1201_data').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Target": {
							"value": null,
							"type": "String"
						},
						"throughPut": {
							"value": {
								"value": "@activity('Load_S1201_data').output.throughPut",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Load_S1201_data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
					"method": "POST",
					"body": {
						"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('Load_S1201_data').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load_S1201_data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@adddays(utcnow(),-1)",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"wildcardFolderPath": "Files/USCB_S1201-MARTIAL STATUS",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Info",
							"enableReliableLogging": true
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "Cencus_Blob_Input_Ls",
								"type": "LinkedServiceReference"
							},
							"path": "cencus"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "GEO_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "GEO_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "S1201_C02_002E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TMV_PER_MAR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "S1201_C02_009E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TFV_PER_MAR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "State Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State_Code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "State Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "County Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "County_Code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "County Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "County_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Tract Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Tract_Code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Tract Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Tract_Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "File Source Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FileSourceName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "USCB_S1201_MARTIAL_STATUS_IP_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "USCB_S1201_MARTIAL_STATUS_OP_DS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Sheetnames": {
				"type": "Array",
				"defaultValue": [
					"s1201_4C_state",
					"s1201_4C_county",
					"s1201_4C_Tract"
				]
			}
		},
		"folder": {
			"name": "USCB"
		},
		"annotations": []
	}
}