pipeline/USCB_S1201_MARITAL_STATUS.json
{
	"name": "USCB_S1201_MARITAL_STATUS",
	"properties": {
		"activities": [
			{
				"name": "LOAD_USCB_S1201_MARITAL_STATUS",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Sheetnames')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Load_S1201_data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": true
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "Cencus_Blob_Input_Ls",
											"type": "LinkedServiceReference"
										},
										"path": "cencus"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "GEO_ID"
											},
											"sink": {
												"name": "GEO_ID"
											}
										},
										{
											"source": {
												"name": "NAME"
											},
											"sink": {
												"name": "NAME"
											}
										},
										{
											"source": {
												"name": "S1201_C02_002E"
											},
											"sink": {
												"name": "TMV_PER_MAR"
											}
										},
										{
											"source": {
												"name": "S1201_C02_009E"
											},
											"sink": {
												"name": "TFV_PER_MAR"
											}
										},
										{
											"source": {
												"name": "State Code"
											},
											"sink": {
												"name": "State Code"
											}
										},
										{
											"source": {
												"name": "State Name"
											},
											"sink": {
												"name": "State Name"
											}
										},
										{
											"source": {
												"name": "County Code"
											},
											"sink": {
												"name": "County Code"
											}
										},
										{
											"source": {
												"name": "County Name"
											},
											"sink": {
												"name": "County Name"
											}
										},
										{
											"source": {
												"name": "Tract Code"
											},
											"sink": {
												"name": "Tract Code"
											}
										},
										{
											"source": {
												"name": "Tract Name"
											},
											"sink": {
												"name": "Tract Name"
											}
										},
										{
											"source": {
												"name": "File Source Name"
											},
											"sink": {
												"name": "File Source Name"
											}
										},
										{
											"source": {
												"name": "Year"
											},
											"sink": {
												"name": "Year"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "USCB_S1201_MARTIAL_STATUS_IP_DS",
									"type": "DatasetReference",
									"parameters": {
										"Sheetname": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "USCB_S1201_MARTIAL_STATUS_OP_DS",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Sucesses Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LOAD_USCB_S1201_MARITAL_STATUS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_audit_Log]",
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errors": {
							"value": null,
							"type": "String"
						},
						"ExecDate": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowCopied": {
							"value": {
								"value": "@activity('Load_S1201_data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowRead": {
							"value": {
								"value": "@activity('Load_S1201_data').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Target": {
							"value": null,
							"type": "String"
						},
						"throughPut": {
							"value": {
								"value": "@activity('Load_S1201_data').output.throughPut",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Cencus_Output_Ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "LOAD_USCB_S1201_MARITAL_STATUS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
					"method": "POST",
					"body": {
						"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('Load_S1201_data').outputError.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Sheetnames": {
				"type": "Array",
				"defaultValue": [
					"s1201_4C_state",
					"s1201_4C_county",
					"s1201_4C_Tract"
				]
			}
		},
		"folder": {
			"name": "USCB"
		},
		"annotations": []
	}
}